body {
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
}

.header {
    padding: 20px;
    text-align: center;
    background-color: #333;
    color: white;
    font-size: 36px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.tab-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 1px solid #333;
}

.tab {
    padding: 10px 20px;
    background-color: white;
    color: #333;
    cursor: pointer;
    border: 1px solid #333;
    border-bottom: none;
    transition: background-color 0.2s ease-in-out;
}

.tab:hover {
    background-color: #E0E0E0;
}

.tab.active {
    background-color: #333;
    color: white;
}

.tab-content {
    display: none;
    padding: 20px;
    background-color: white;
}

.tab-content.active {
    display: block;
}

.tab-content h3 {
    margin-top: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #333;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}


nav {
    display: flex;
    justify-content: center;
    background-color: #333;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: flex;
    padding: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}